<br>
<div class="jumbotron">
  <div class = "container">
  <center><h1>ANALOGS</h1></center>
  <center><p>FOR AUDIOPHILES EVERYWHERE</p></center>
  <center><p>
      <%= link_to "SIGN IN", new_user_session_path %> /
      <%= link_to "SIGN UP", new_user_registration_path %> <br> <br> <br>
  </p></center>
  <ul>
  <center>
    <p> Organize your vinyl collection </p>
    <p> Share your collection with friends </p>
    <p> Make wishlists to complete your dream collection </p>
    <p> Discover your new favorite record </p>
  </center>
  </div>
</div>